@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* Explore Post */
.explore-menu-list::-webkit-scrollbar{
    display: none;
}

/* Instagram Post Display for general transaction */
.display-list{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 50px;
}